body {
  background: rgb(247, 241, 229);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  color: rgb(76, 75, 22);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.allBox {
  width: 600px;
  min-height: 80%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.searchBox {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px rgb(195, 152, 152);
}

.weatherBox {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

a {
  color: rgb(137, 129, 33);
}

.hourlyTemp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.forecastBox {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

.dailyTemp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.higherTemp {
  color: rgb(137, 129, 33);
}

.lowerTemp {
  color: rgb(231, 177, 10);
}
